<div class="input-group">
  <div class="input-group-prepend">
    <button type="button" class="input-group-text emoji-button">
      <img src="assets/icons/smiley.svg" alt="smiley-icon" />
    </button>
  </div>
  <input
    type="text"
    id="chat-input"
    autocomplete="off"
    placeholder="Enter a message"
    class="form-control"
  />
  <div class="input-group-append">
    <button class="input-group-text">
      <img src="assets/icons/paperclip.svg" alt="paperclip-icon" />
    </button>
  </div>
  <div class="input-group-append">
    <button type="submit">
      <img src="assets/icons/send.svg" alt="submit-icon" />
    </button>
  </div>
</div>
