<div
  id="flush-collapseOne"
  class="accordion-collapse collapse"
  aria-labelledby="flush-headingOne"
  data-bs-parent="#accordionFlushExample"
>
  <div class="accordion-body">
    <div class="title-box">
      <h3>Hot rooms</h3>
      <img src="assets/icons/fire.svg" alt="" />
    </div>

    <%- include('roomsAccordionContent'); -%>
  </div>
</div>
