<ul>
  <li>
    <a href="#" target="_blank">
      <div>
        <p>WAG</p>
      </div>

      <div>
        <span>12</span>
        <img src="assets/icons/online.svg" alt="people icon" />
      </div>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <div>
        <p>VLX</p>
      </div>

      <div>
        <span>9</span>
        <img src="assets/icons/online.svg" alt="people icon" />
      </div>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <div>
        <p>ETH</p>
      </div>

      <div>
        <span>6</span>
        <img src="assets/icons/online.svg" alt="people icon" />
      </div>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <div>
        <p>BTC</p>
      </div>

      <div>
        <span>3</span>
        <img src="assets/icons/online.svg" alt="people icon" />
      </div>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <div>
        <p>APE</p>
      </div>

      <div>
        <span> 1</span>
        <img src="assets/icons/online.svg" alt="people icon" />
      </div>
    </a>
  </li>
</ul>
