<ul>
  <li>
    <a href="#" target="_blank">
      <div>
        <p>BitcoinMaster</p>
      </div>

      <div>
        <span>12</span>
        <img src="assets/icons/online.svg" alt="people icon" />
      </div>
    </a>
  </li>
</ul>
