<ul class="userGrid">
  <li>
    <div>
      <img src="assets/icons/dot.svg" alt="online-dot" />
      <p>Muhammet</p>
    </div>

    <a href="#">
      <img src="assets/icons/privateMessage.svg" alt="message-icon" />
    </a>
  </li>
  <li>
    <div>
      <img src="assets/icons/dot.svg" alt="online-dot" />
      <p>BitcoinMaster</p>
    </div>

    <a href="#">
      <img src="assets/icons/privateMessage.svg" alt="message-icon" />
    </a>
  </li>
  <li>
    <div>
      <img src="assets/icons/dot.svg" alt="online-dot" />
      <p>Bitcoin</p>
    </div>

    <a href="#">
      <img src="assets/icons/privateMessage.svg" alt="message-icon" />
    </a>
  </li>
  <li>
    <div>
      <img src="assets/icons/dot.svg" alt="online-dot" />
      <p>Tristan</p>
    </div>

    <a href="#">
      <img src="assets/icons/privateMessage.svg" alt="message-icon" />
    </a>
  </li>
</ul>
