<div
  id="flush-collapseTwo"
  class="accordion-collapse collapse"
  aria-labelledby="flush-headingTwo"
  data-bs-parent="#accordionFlushExample"
>
  <div class="accordion-body">
    <div class="title-box">
      <h3>All room users</h3>
      <img src="assets/icons/online.svg" alt="" />
    </div>

    <%- include('usersAccordionContent'); -%>
  </div>
</div>
