<table class="table borderless">
  <thead>
    <tr>
      <th scope="col">Live chart</th>
      <th scope="col">24h</th>
      <th scope="col"></th>
    </tr>
  </thead>
</table>

<div id="viz"></div>
