<!DOCTYPE html>
<html lang="en">
  <%- include('layout'); -%>
  <body>
    <!-- header -->
    <header>
      <ul class="indicators">
        <li id="name">
          <p>
            <!-- insert name -->
          </p>
        </li>
        <li id="price">
          <small>Price</small>
          <p>
          <!-- insert price -->
          </p>
        </li>
        <li >
          <small>Open</small>
          <p>
            <!-- insert 24h -->
          </p>
        </li>
        <li id="high">
          <small>High</small>
          <p>  <!-- insert high --></p>
        </li>
        <li id="low">
          <small>Low</small>
          <p>
            <!-- insert low -->
          </p>
        </li>
      </ul>
      <form action="" autocomplete="off"></form>
      <input class="searchInput" placeholder="Enter CoinID" name="searchInput"></input>
    </header>

    <!-- content -->
    <section class="layout-grid">

      <div class="chart"></div>

      <div class="chatroom">
        <table class="table borderless">
        <thead>
          <tr>
          <th scope="col">Chat</th>
          <th scope="col">23 <img src="assets/icons/online.svg" alt="people icon"></th>
          <th scope="col"><button> </button>Rooms <img src="assets/icons/dropdownArrow.svg" alt="dropdown arrow icon"> </th>
          </tr>

          <!-- <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
              </div>
            </div> -->
        </thead>
        </table>
        <ul id="chat-messages"></ul>
          <form id="chat-form" action="">
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="input-group-text">
                  <img src="assets/icons/smiley.svg" alt="Send assets button">
                </button>
              </div>
              <input
              type="text"
              id="chat-input"
              autocomplete="off"
              placeholder="Enter a message"
              class="form-control"
            />
            <div class="input-group-append">
              <button class="input-group-text">
                <img src="assets/icons/paperclip.svg" alt="Send assets button">
              </button>
            </div>
              <div class="input-group-append">
                <button type="submit">
                  <img src="assets/icons/send.svg" alt="Submit button">
                </button>
              </div>
            </div> 
          </form>
      </div>

      <div class="buys">
        <table class="table borderless">
          <thead>
            <tr>
              <th scope="col">Price</th>
              <th scope="col">Amount</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
              <!-- new rows  -->
          </tbody>
        </table>
      </div>

      <div class="sells">
        <table class="table borderless">
          <thead>
            <tr>
              <th scope="col">Price</th>
              <th scope="col">Amount</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
              <!-- new rows  -->
          </tbody>
        </table>
      </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>



