<!DOCTYPE html>
<html lang="en">
  <%- include('layout'); -%>
  <body>
    <p id="price">---</p>

    <!-- chat form -->

    <!-- all buyer trades -->
    <section>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Price(ETH)</th>
            <th scope="col">Amount(ETH)</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody id="insert-trades">
          <!-- trades -->
        </tbody>
      </table>
    </section>

    <ul id="chat-messages"></ul>
    <!-- chat  -->
    <form id="chat-form" action="">
      <input
        type="text"
        id="chat-input"
        autocomplete="off"
        placeholder="Enter a message"
      />
      <button type="submit" value="enter">Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
