@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Inter', sans-serif; */

html {
  margin: 0;
  padding: 0;
}

/* root styles */
:root {
  --dark: #222222;
  --gray: #313131;
  --lightGray: #3c3c3c;
  --white: #ffffff;
  --blue: #5cfdd6;
  --green: #21df96;
  --buy1: rgba(0, 197, 121, 0.2);
  --buy2: rgba(0, 197, 121, 0.28);
  --red: #ff6060;
  --sell1: #431b1e;
  --sell2: #50181c;
  --fontStyle: "Inter", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--dark);
  color: #ffffff;
  font-family: var(--fontStyle);
  height: 100vh;
}

/* nav layout */
header {
  padding: 2em 2em 0 2em;
  height: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas: "indicators indicators input";
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.indicators {
  grid-area: indicators;
  /* display: flex; */
}

.indicators li small {
  opacity: 67%;
  font-weight: 600;
  font-size: 12px;
}

.indicators li p {
  font-weight: 500;
  font-size: 18px;
}

.searchInput:hover,
.searchInput:active,
.searchInput:focus,
.searchInput {
  border: 5px solid #313131;
  background-color: transparent;
  color: var(--white);
  outline: none;
  grid-area: input;
  width: 100%;
  height: 50px;
  padding-left: 1em;
  box-shadow: inset 0px 2px 14px rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px;
}
.searchInput::placeholder {
  color: var(--white);
  font-style: italic;
  opacity: 67%;
}

/* body layout */
.layout-grid {
  position: relative;
  padding: 1em 2em 1em 2em;
  height: 100%;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas:
    "chart chart chatroom"
    "buys sells chatroom";
}
.layout-grid div {
  background: var(--gray);
}
.chart {
  grid-area: chart;
}
.chatroom {
  grid-area: chatroom;
}
.buys {
  grid-area: buys;
  height: 100%;
  overflow: hidden;
}
.sells {
  grid-area: sells;
  height: 100%;
  overflow: hidden;
}

/* remove lines and borders */
table {
  border-collapse: collapse;
}

.table > :not(:first-child) {
  border-top: 0;
}

/* table styles */
thead tr th:first-child {
  padding-left: 1.5em;
}

thead tr th:last-child {
  padding-right: 1.5em;
}

thead tr th {
  font-weight: 600;
}

th,
tbody {
  color: var(--white);
  letter-spacing: 0.2px;
}
tbody {
  background: var(--dark);
}

tbody tr:nth-child(2n) {
  background: var(--buy1);
}

td,
th {
  border: none;
  width: 40%;
}

th {
  border-bottom: var(--dark) solid 2px;
}

td + td,
th + th {
  width: auto;
}

tbody tr {
  background: var(--buy2);
}

tbody tr:first-of-type {
  border-top: 2px var(--dark) solid;
}

tbody tr td {
  font-weight: 600;
  font-size: 14px;
}

tbody tr td:first-child {
  color: var(--green);
  padding-left: 1.5em;
}

tbody tr td:last-child {
  padding-right: 1.5em;
}

tbody tr td:not(:first-child) {
  opacity: 87%;
}

/* sells table styles */
.sells tbody tr td:first-child {
  color: var(--red);
}

.sells tbody tr:nth-child(2n) {
  background: var(--sell1);
}

.sells tbody tr {
  background: var(--sell2);
}

/* chatroom  */
.chatroom {
  position: relative;
}

.chatroom .chat-overlay {
  position: absolute;
  background: rgba(49, 49, 49, 0.5);
  height: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.chatroom .chat-overlay form {
  position: absolute;
  margin: 0 auto;
  width: 75%;
  bottom: 58%;
  border-radius: 50px;
  border: var(--white) solid 1.5px;
  display: flex;
  align-items: center;
}

.chatroom .chat-overlay form p {
  margin: 0;
  opacity: 55%;
  font-size: 14px;
  padding-right: 6px;
}

.chatroom .chat-overlay form input {
  border-radius: 50px;
  background: none;
}

.chatroom .chat-overlay h2 {
  position: absolute;
  top: 25%;
  font-size: 20px;
}

.chatroom .chat-overlay h2,
.chatroom .chat-overlay form {
  left: 0;
  right: 0;
}

.chatroom table {
  margin: 0;
  z-index: 2;
}

.chatroom ul {
  list-style-type: none;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
}

.chatroom #chat-messages li p {
  background: var(--lightGray);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 0px 5px 5px 5px;
  width: fit-content;
  margin-bottom: 15px;
  margin-top: 6px;
}

.chatroom #chat-messages li span {
  font-size: 12px;
  margin-bottom: 0.5em;
  display: inline-block;
}

.chatroom #chat-messages li span:first-child::first-letter {
  text-transform: capitalize;
}

span::first-letter {
  text-transform: capitalize;
}

.chatroom ul .joined-user {
  background: none;
  color: rgb(160, 160, 160);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  display: inline-block;
}

.chatroom ul .joined-user::first-letter {
  text-transform: capitalize;
}

.chatroom form {
  position: absolute;
  bottom: 10%;
  padding-left: 0.3em;
  padding-right: 0.3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.chatroom .input-group {
  border-radius: 50px;
  background-color: #222222 !important;
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
  width: 95%;
  height: 2.7em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.chatroom .input-group > div {
  background: none !important;
}

.chatroom form div button {
  background: none;
  outline: none;
  border: none;
}

.chatroom .form-control {
  background: none !important;
  color: var(--white) !important;
}

.chatroom .form-control::placeholder {
  opacity: 55%;
  color: var(--white);
}

.chatroom input,
.chatroom input:focus,
.chatroom button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.chatroom form div div:nth-of-type(3) button {
  border-radius: 50px;
  border: none;
  height: 2.7em;
  width: 2.7em;
  background-color: var(--blue);
  color: var(--gray);
  box-shadow: 0px 3.5px 3.5px rgba(34, 34, 34, 0.2);
}

.chatroom button[type="submit"] img {
  width: 18px;
  height: auto;
  margin-left: 2px;
}

.chatroom table img {
  margin-left: 4px;
}

.chatroom table thead tr th:nth-of-type(3) button {
  background-color: var(--gray);
  padding: 0;
  color: var(--white);
  font-size: 16px;
  font-family: var(--fontStyle);
  font-weight: 600;
}

/* chatroom accordion */
.accordion-body {
  background: var(--dark) !important;
}

.accordion-body .title-box {
  background: none;
  display: flex;
  justify-content: baseline;
  gap: 6px;
  margin-bottom: 1.8em;
  margin-top: 0.5em;
}

.accordion-body .title-box h3 {
  font-size: 18px;
  margin-bottom: 0;
  margin-right: 6px;
}

.accordion-body ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.accordion-body ul li {
  display: flex;
  border-radius: none;
  background: none;
  padding: 0;
}

.accordion-body ul li a:hover:first-of-type > div:first-of-type {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -4px);
}

.accordion-body ul li div {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.accordion-body ul li div:first-of-type {
  background: var(--gray);
  border-radius: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
  transition: 200ms ease-in-out;
}

.accordion-body ul li div span {
  font-size: 12px;
  font-weight: 500;
}

.accordion-body ul li div p {
  margin: 0;
  font-weight: 600;
}

.accordion-body ul li a {
  text-decoration: none;
  color: var(--white);
  background: none;
}

.accordion-button.collapsed {
  background: white;
}

.accordion-button.collapsed::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  margin-left: 4px;
  box-shadow: none;
}

/* .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */
