<ul class="indicators">
  <li id="name">
    <p>
      <!-- insert name -->
    </p>
  </li>
  <li id="price">
    <small>Price</small>
    <p>
      <!-- insert price -->
    </p>
  </li>
  <li>
    <small>Open</small>
    <p>
      <!-- insert 24h -->
    </p>
  </li>
  <li id="high">
    <small>High</small>
    <p>
      <!-- insert high -->
    </p>
  </li>
  <li id="low">
    <small>Low</small>
    <p>
      <!-- insert low -->
    </p>
  </li>
</ul>
