<ul class="autocomplete">
  <!-- results -->
  <!-- <li>BTC</li>
  <li>ETH</li>
  <li>APE</li>
  <li>VLX</li>
  <li>DOGE</li>
  <li>MATIC</li>
  <li>BNB</li>
  <li>BTC</li>
  <li>ETH</li>
  <li>APE</li>
  <li>VLX</li>
  <li>DOGE</li>
  <li>MATIC</li>
  <li>BNB</li> -->
</ul>
