<div
  id="flush-collapseThree"
  class="accordion-collapse collapse show"
  aria-labelledby="flush-headingThree"
  data-bs-parent="#accordionFlushExample3"
>
  <div class="accordion-body">
    <%- include('searchFormAccordionContent'); -%>
  </div>
</div>
