// variables
$dark: #222222;
$gray: #313131;
$lightGray: #3c3c3c;
$white: #ffffff;
$blue: #5cfdd6;
$green: #21df96;
$buy1: rgba(0, 197, 121, 0.2);
$buy2: rgba(0, 197, 121, 0.28);
$red: #ff6060;
$sell1: #431b1e;
$sell2: #50181c;
$fontStyle: "Inter", Helvetica, Arial, sans-serif;
