<div class="chat-overlay" id="chat-overlay">
  <h2>Fill in a display name<br />before chatting</h2>
  <form action="" id="user-form">
    <input
      type="text"
      id="user-input"
      autocomplete="off"
      placeholder="Enter display name"
      class="form-control"
      maxlength="15"
      minlength="5"
      required
    />
    <p><span id="chaCount">15</span>/15</p>
  </form>
</div>
