<table class="table borderless">
  <thead>
    <tr>
      <th scope="col">
        <button class="back-to-room">
          <img src="/assets/icons/arrow-back.svg" alt="arrow-back-icon" />
        </button>
        <p>Chatroom</p>
      </th>
      <th scope="col" class="username-placeholder">
        <!-- username -->Tristan Varewijck
      </th>
    </tr>
  </thead>
</table>
